nemo-toolkit
flask
flask_restful
sshtunnel_requests
wonderwords
tiktoken
tenacity
packaging
accelerate
huggingface_hub
html2text
sentencepiece
protobuf
nltk
hydra-core
inflect
jiwer
pyannote-core
pyannote-database
pyannote-metrics
pytorch-lightning
youtokentome
librosa
webdataset
editdistance
ipython
jieba
fuzzywuzzy
einops
lightning
lhotse
datasets
transformers